<div class="container itemList text-center">
  <h1 class="title pt-5">New Release!!!</h1>

  <div class="row row-cols-1 row-cols-lg-3 mt-5 justify-content-md-center">
    <div class="col-md-4 mb-4">
      <a href="../products/borneo.html">
        <div class="card mx-auto">
          <img
            src="../assets/Borneo_kalimantan/Back.png"
            class="card-img-top darken-on-hover"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Borneo-Kalimantan</h5>
            <p class="card-text">Rp 165K</p>
          </div>
        </div>
      </a>
    </div>

    <!-- Card 2 -->
    <div class="col mb-4">
      <a href="../products/bali.html">
        <div class="card mx-auto">
          <img
            src="../assets/kintamani_bali/Backblack.png"
            class="card-img-top darken-on-hover"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Kintamani-Bali</h5>
            <p class="card-text">Rp 165K</p>
          </div>
        </div>
      </a>
    </div>

    <!-- Card 3 -->
    <div class="col mb-4">
      <a href="../products/ntt.html">
        <div class="card mx-auto">
          <img
            src="../assets/Komodo_racing/Back.png"
            class="card-img-top darken-on-hover"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Komodo-NTT</h5>
            <p class="card-text">Rp 165K</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<style>
  .itemList {
    margin-top: 50px;
  }
  .title {
    padding-bottom: 25px;
    text-decoration: underline;
    font-family: "PPE", sans-serif;
  }
  .card {
    border: none;
  }
  .darken-on-hover {
    transition: filter 0.3s ease-in-out;
  }
  .darken-on-hover:hover {
    filter: brightness(70%);
  }
  .card {
    width: 20rem;
  }
  @media (max-width: 600px) {
    .card {
      width: 15rem;
    }
    .itemList {
      margin-top: 0;
    }
    .title {
      padding-bottom: 0;
    }
  }
</style>
