<nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
  <div class="container">
    <a class="navbar-brand" href="../index.html">
      <img src="../assets/logo.png" width="50px" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link active text-white menu"
            aria-current="page"
            href="../index.html"
            >Home</a
          >
        </li>
        <li class="nav-item about">
          <a class="nav-link active text-white menu" href="../about.html"
            >About Us</a
          >
        </li>
        <li class="nav-item shop">
          <a class="nav-link active text-white menu" href="../shop.html"
            >Shop</a
          >
        </li>
        <li class="nav-item">
          <button type="button" class="bg-success text-white">
            <a class="nav-link active text-white" href="https://wa.link/p87yei"
              >Be Our Designer</a
            >
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  .scrolled {
    background-color: lightblue !important; /* Change this to the desired color */
  }
  nav.navbar {
    z-index: 1;
    background-color: #71984c !important;
    position: fixed;
    width: 100vw;
  }

  .menu {
    border: 1px solid white;
    border-radius: 30px;
    padding: 0px;
    margin-top: 10px;
    font-size: 15px;
  }
  .about {
    padding: 0px 30px;
  }
  .shop {
    padding-right: 30px;
  }

  @media (max-width: 600px) {
    nav.navbar {
      background-color: rgb(120, 162, 56) !important;
    }
    .menu {
      border: none;
      padding: 5px;
      margin-top: 7px;
    }
    .about {
      padding: 1px;
    }
  }
</style>
